@model IEnumerable<AgendaWebApp.ViewModel.UserViewModel>

<div class="text-center" style="margin-bottom: 1rem">
    <h4 class="display-4">Task Tracker</h4>
    <h5>These are the other users of the application. Use this application to complete your own to do items and see how well others are doing.</h5>
</div>

@foreach(var item in Model)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@item.Email</h5>
        </div>
        <div class="card-body">
            <div class="container text-left">
                <div class="card" style="width: 16rem; float: left; margin-right: 2rem;">
                    <div class="card-body">
                        <h5 class="card-title">Active Tasks: @item.ActiveTaskCount</h5>
                        <p class="card-text"><span class="badge rounded-pill bg-success badge-lg">  </span> <strong>Important Tasks: @item.ActiveImportantTasks</strong></p>
                        <p class="card-text"><span class="badge rounded-pill bg-warning badge-lg">  </span> <strong>Relevant Tasks: @item.ActiveRelevantTasks</strong></p>
                        <p class="card-text"><span class="badge rounded-pill bg-danger badge-lg">  </span> <strong>Minor Tasks: @item.ActiveMinorTasks</strong></p>
                    </div>
                </div>
                <div class="card" style="width: 16rem; float: left; margin-right: 2rem;">
                    <div class="card-body">
                        <h5 class="card-title">Finished Tasks: @item.FinishedTaskCount</h5>
                        <p class="card-text"><span class="badge rounded-pill bg-success badge-lg">  </span> <strong>Important Tasks: @item.FinishedImportantTasks</strong></p>
                        <p class="card-text"><span class="badge rounded-pill bg-warning badge-lg">  </span> <strong>Relevant Tasks: @item.FinishedRelevantTasks</strong></p>
                        <p class="card-text"><span class="badge rounded-pill bg-danger badge-lg">  </span> <strong>Minor Tasks: @item.FinishedMinorTasks</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
